//
// Mixins: Layout
// --------------------------------------------------

@mixin hero {
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 320px;
  height: 66vh;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: $black;
    opacity: 0.5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@mixin padding-y-tight {
  padding-top: $layout-padding-y-tight;
  padding-bottom: $layout-padding-y-tight;

  @include media-breakpoint-up(lg) {
    padding-top: $layout-padding-y-tight-lg;
    padding-bottom: $layout-padding-y-tight-lg;
  }
}

@mixin padding-top-tight {
  padding-top: $layout-padding-y-tight;

  @include media-breakpoint-up(lg) {
    padding-top: $layout-padding-y-tight-lg;
  }
}

@mixin padding-bottom-tight {
  padding-bottom: $layout-padding-y-tight;

  @include media-breakpoint-up(lg) {
    padding-bottom: $layout-padding-y-tight-lg;
  }
}

@mixin padding-y {
  padding-top: $layout-padding-y;
  padding-bottom: $layout-padding-y;

  @include media-breakpoint-up(lg) {
    padding-top: $layout-padding-y-lg;
    padding-bottom: $layout-padding-y-lg;
  }
}

@mixin padding-top {
  padding-top: $layout-padding-y;

  @include media-breakpoint-up(lg) {
    padding-top: $layout-padding-y-lg;
  }
}

@mixin padding-bottom {
  padding-bottom: $layout-padding-y;

  @include media-breakpoint-up(lg) {
    padding-bottom: $layout-padding-y-lg;
  }
}
