//
// Mixins: Typography
// --------------------------------------------------

@mixin display-bold {
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
