//
// Widget: Social Networks
// --------------------------------------------------

.widget-social-networks {
  font-size: 0;

  ul {
    margin-bottom: 0;
  }

  a {
    display: inline-block;
  }
}
