//
// Variables
// --------------------------------------------------

// ------------------------------------
// Global
// ------------------------------------

// Spacers
// -------------------------

$layout: (
  1: $spacer,
  2: $spacer * 1.5,
  3: $spacer * 2,
  4: $spacer * 3,
  5: $spacer * 4,
  6: $spacer * 6,
  7: $spacer * 10,
);

// Layout
// -------------------------

$site-max-width: 1600px;

// Padding
// -------------------------

$layout-padding-y-tight: map-get($layout, 3);
$layout-padding-y-tight-lg: map-get($layout, 4);
$layout-padding-y: map-get($layout, 5);
$layout-padding-y-lg: map-get($layout, 6);

// ------------------------------------
// Components
// ------------------------------------

// Navbar Toggler
// -------------------------

$navbar-toggler-layer-width: 2rem;
$navbar-toggler-layer-height: 0.0625rem;
$navbar-toggler-layer-spacing: 0.5rem;
$navbar-light-toggler-layer-color: $navbar-light-active-color;
