//
// Post Hero
// --------------------------------------------------

.layout--post-hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 320px;
  height: 66vh;
}
