<?xml version="1.0"?>
<ruleset name="WordPress Development - Theme Coding Standards">
	<!--
	#############################################################################
	PROJECT SPECIFIC CONFIGURATION
	#############################################################################
	-->

	<rule ref="./../../../phpcs.xml.dist"/>

	<!--
	#############################################################################
	THEME SPECIFIC CONFIGURATION
	#############################################################################
	-->

	<!-- Verify that the text_domain is set to the desired text-domain.
		 Multiple valid text domains can be provided as a comma-delimited list. -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="wsk-theme"/>
		</properties>
	</rule>
</ruleset>